<h2>Hello interesting global digital world,

<p>
    Leonard P O'Grady engineering local/global enterprise ready ERP with
    Java on Play and Ruby on Rails.

<p>

    Pushing code to Github;

<p>
    Pulling from Github and hosting on Heroku with PostgreSQL
    persistant relational ACID storage.</h2>

<p>

    The time is now: <%= Time.now %>

</p>
